<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Week</th>
      <th>Goal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% weeks.forEach(function(w) { %>
      <tr>
        <td><%= w.week %></td>
        <td><%= w.goal %></td>
        <td><a href="/weeks/<%= w._id %>"><button type="submit">DETAILS</button></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>