<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weeks <%= weeks%> </title>
    <%- include('../partials/header') %>
</head>
<body>
  
<section id="show-page">
    <div>Week: </div>
    <div>
      <%= week.week %>
    </div>
    <div>This weeks Goal!: </div>
    <div>
      <%= week.goal %>
    </div>
    <div>Projected Days working out this week.: </div>
    <div>
      <%= week.totalDays %>
    </div>

</body>

<%- include('../partials/footer') %>
</html>
