
<!DOCTYPE html>
<html lang="en"></html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weeks <%= week %> </title>
    <%- include('../partials/header') %>
</head>
<body>
  
  <% if (user){ %> 
  <section id="show-page">
    <div>Week: </div>
    <div>
      <%= week.week %>
    </div>
    <div>This weeks Goal!: </div>
    <div>
      <%= week.goal %>
    </div>
    <div>Projected Days working out this week. </div>
    <div>
      <%= week.totalDays %>
    </div>
  </section>

  <br><br><h2>Workout Log</h2>
  
  <form id="add-workout-form" method="POST"
  action="/weeks/<%= week._id %>/workouts"> 
  <label>Day</label>
  <select name="day">
    <option value="Mon">Mon</option>
    <option value="Tue">Tue</option>
    <option value="Wed">Wed</option>
    <option value="Thur">Thur</option>
    <option value="Fri">Fri</option>
    <option value="Sat">Sat</option>
    <option value="Sun">Sun</option>
  </select>
  <label>Body Part of the Workout</label>
  <select name="bodyPart">
    <option value=" ">Select</option>
    <option value="Chest">Chest</option>
    <option value="Shoulders">Shoulders</option>
    <option value="Back">Back</option>
    <option value="Legs">Legs</option>
  </select>
  <label>Cardio</label>
  <select name="cardio">
    <option value=" ">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <label>Sauna</label>
  <select name="sauna">
    <option value=" ">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <button>
  <input style="border: none" type="Submit" value="Add Workout">
  </button>
</form>
  <% } else { %>

    <span>You have to login in order to add a workout</span>



    <% } %>

    <% if (week.workouts.length) { %>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>What you worked out</th>
            <th>Cardio</th>
            <th>Sauna</th>
          </tr>
        </thead>
        <tbody>

            <% week.workouts.forEach(function(w) { %>


                <tr>
                

                  <td>
                    <%= w.day %>
                  </td>
                  <td>
                    <%= w.bodyPart %>
                  </td>
                  <td>
                    <%= w.cardio %>
                  </td>
                  <td>
                    <%= w.sauna %>
                  </td>
                  <td>

                      <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                      </form>
                  </td>
                  
                  <td>

                        <a href="/workouts/<%= w._id %>/edit"><button type="submit">Edit Workout</button></a>
                  </td>  



                    </td>

                <% }); %>

        </tbody>
      </table>
      <% } else { %>
        <h5>No Workouts Yet</h5>
        <% } %>







<%- include('../partials/footer') %>
</html>
